.checked {
    color: orange;
  }

  .btn-container {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .btn-wide {
    width: 50%;
    height: 50px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 36px;
    text-align: center;
    line-height: 25px
  }

  .jumbo-div-par {
    text-align: center;
  }

  .jumbotron {
    background-color: white;
    align-content: center;
  }

  .text-over {
    height: 400px;
    color: gray;
    font-size: 40px;
    font-style: oblique;
    font-weight: bold;
    border-style: solid;
    border-color: black;

  }

  .vertical-center {
    display: flex;
    align-items: center;

  }

  .full-width {

    width: 100%
  }

  .under-jum {
    text-align: center;
  }

  div.background {
    background: url(https://i.pinimg.com/originals/e6/b8/53/e6b853b6eb516ae81c9f2cb2d9c56126.jpg) repeat;
    border: 2px solid black;
  }

  div.transbox {

    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.75;
    filter: alpha(opacity=60);
  }

  div.transbox p {
    margin: 0%;
    font-weight: bold;
    color: black;
  }